body {
  margin: 0;
  padding: 0;
  font-family: 'Sunflower', sans-serif;
  background: #FBFBFD;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.has-margin-bottom-15 {
  margin-bottom: 15px;
}

.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bg {
  background-color: rgb(15, 1, 94);
  background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94));
  color: rgb(255, 255, 255);
  height: 50vh;
}

.pb-10 {
  padding: 10px;
}

.pd-20 {
  padding: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.navbar-section a {
  color: white !important;
}

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.hero-footer p {
  color: black;
}

.card.user-profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  min-width: 360px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 172ms;
  will-change: transform, box-shadow;
  transition: .5s ease;
}

.card.user-profile:hover {
  box-shadow: 0 10px 20px rgba(220, 220, 220, 0.5);
  transform: translateY(-4px);
  color: inherit;
}

.inner-container {
  height: 30px;
  background: #3B1BC7;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profile-img {
  width: 50px;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 20px;
  border: 3px solid white;
}

.footer {
  padding: 1rem;
}

.footer>* {
  color: black;
}

.box-content {
  box-shadow: 0 3rem 3rem -1rem rgba(10, 10, 10, .2);
  max-width: 520px;
  padding: 3rem;
  background-color: white;
  border-radius: 6px;
}

.box-content>* {
  color: black !important;
}

.has-background {
  background: #FBFBFD;
}

.box.profile-form {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: white;
}

/*
*  Spinner
*/

.spin-me-round-bb-bb-right-round {
  width: 0.1px;
  height: 0.1px;
  border: 25px solid transparent;
  border-radius: 40px;
  animation: loader 2s linear infinite, spin 0.5s linear infinite;
}

.spin-me-round-bb-bb-right-round::after {
  display: block;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  content: '';
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: white;
}

@keyframes loader {
  0% {
    border-left-color: transparent;
    border-right-color: #013C80
  }
  25% {
    border-top-color: transparent;
    border-bottom-color: #016dae
  }
  50% {
    border-right-color: transparent;
    border-left-color: #009edb
  }
  75% {
    border-bottom-color: transparent;
    border-top-color: #016dae
  }
  100% {
    border-left-color: transparent;
    border-right-color: #013C80
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}