body {
  margin: 0;
  padding: 0;
  font-family: 'Sunflower', sans-serif;
}

.main-bg {
  background-color: rgb(15, 1, 94);
  background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94));
  color: rgb(255, 255, 255);
  height: 50vh;
}

.pd-20 {
  padding: 20px;
}

.navbar-section a {
  color: white !important;
}

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 6rem;
}

.hero-footer p {
  color: black;
}

.footer {
  padding: 1rem;
}

.footer>* {
  color: black;
}

.box-content {
  box-shadow: 0 3rem 3rem -1rem rgba(10, 10, 10, .2);
  max-width: 520px;
  padding: 3rem;
  background-color: white;
  border-radius: 6px;
}

.box-content>* {
  color: black !important;
}

.has-background {
  background: #FBFBFD;
}

.card {
  background-color: transparent;
  box-shadow: none;
  color: #998DA0;
}

.card.is-usp {
  max-width: 320px;
  margin: 0 auto;
}